@import "../../../../styles/base.scss";

.text-wrapper {
  > h2 {
    color: $primary-text;
  }
  > p {
    color: $secondary-text;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

.card-container {
  margin-bottom: 95px;

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $primary-background;
    border-radius: 5px;
    padding: 10px;

    .recap-plan {
      color: $primary-text;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div > p {
        font-size: 12px;
        color: #726e9d;
        cursor: pointer;
      }

      > p {
        font-weight: 600;
      }
    }

    hr {
      border: 1px solid $secondary-text;
    }

    .recap-list {
      .list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
          color: $secondary-text;
          font-weight: 100;
        }
        p {
          color: $primary-text;
          font-size: 12px;
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    h3 {
      font-weight: 100;
      font-size: 15px;
      color: $secondary-text;
    }

    p {
      font-weight: 600;
      color: #584fb3;
    }
  }
}
.button-desktop {
  position: absolute;
  width: 380px;
  height: 25%;
  display: flex;
  bottom: 0;
  padding-top: 7px;
  flex-direction: column;
  justify-content: start;

  @include media-screen-xs {
    position: static;
    display: block;
    margin-top: 20px;
    width: inherit;
    height: inherit;
  }

  @include media-screen-sm {
    position: static;
    display: block;
    margin-top: 20px;
    width: inherit;
    height: inherit;
  }

  @include media-screen-md {
    position: static;
    display: block;
    margin-top: 20px;
    width: inherit;
    height: inherit;
  }

  @include media-screen-lg {
    position: static;
    display: block;
    margin-top: 20px;
    width: inherit;
    height: inherit;
  }

  @include media-screen-xl {
    position: static;
    display: block;
    margin-top: 20px;
    width: inherit;
    height: inherit;
  }
}
